*.mode1v3

# xcode
*.pbxuser
*.perspectivev3
xcuserdata
build
*.app
*.a

# OSX
.DS_Store

# codeblocks
*.layout
example/obj

# Win
*.exe
*.dll
*_debug.exe
*_debug.exp
*_debug.ilk
*_debug.lib
*_debug.pdb
*.VC.db
example-vs-win/obj
example-vs-win/bin/*.exe
example-vs-win/bin/*.dll
example-vs-win/bin/*.exp
example-vs-win/bin/*.lib
example-vs-win/bin/*.ilk
example-vs-win/bin/*.pdb
